<!-- views/userList.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User List</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1>User List</h1>
  <ul>
    <% users.forEach(user => { %>
      <li><%= user.username %> - <%= user.email %> 
        <a href="/deleteUser/<%= user._id %>">Delete</a>
        <a href="/editUser/<%= user._id %>">Edit</a>
      </li>
    <% }); %>
  </ul>
</body>
</html>
